
	<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Коттеджный поселок Витязь. Официальный сайт</title>
	<link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="css/style.css" media="all"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Продажа коттеджей и таунхаусов в 12 километрах от МКАД по Калужскому шоссе от надежного застройщика. Лучшие цены">
</head>
<body>
<!--Modal Window-->
<div class="modal2" data-toggle2="true" >
  <div class="modal__window2">
    <button class="modal__close2" data-toggle2="true">Close</button>
    <form class="cbf" name="questionmod" action="">
    	<h3>Задайте нам вопрос, и мы обязательно на него ответим</h3>
    	<input type="text" class="name" name="name" placeholder="Имя">
    	<input type="text" class="phone" name="email" placeholder="Email">
        <textarea class="question" name="question" rows="3"></textarea>
    	<button type="submit">Отправить</button>
    </form>
  </div>
</div>
<!--Cover-->
<div class="cover"></div>
<!--Modal Window-->
<div class="modal" data-toggle="true" >
  <div class="modal__window">
    <button class="modal__close" data-toggle="true">Close</button>
    <form class="cbf" name="callbackmod" action="">
    	<h3>Оставьте свой номер, мы вам скоро перезвоним</h3>
    	<input type="text" class="name" name="name" placeholder="Имя">
    	<input type="text" class="phone" name="phone" placeholder="Номер телефона">
    	<button type="submit">Оставить заявку</button>
    </form>
  </div>
</div>
<!--Cover-->
<div class="cover"></div>
<!--Modal Window-->
<div class="modal1" data-toggle1="true">
  <div class="modal__window1">
    <button class="modal__close1" data-toggle1="true">Close</button>
    <h4>Спасибо!</h4>
    <p>Мы свяжемся с Вами в ближайшее время.</p>
  </div>
</div>
<!--Cover-->
<div class="cover"></div>
<header id="top">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-12">
				<nav class="hidden-xs">
					<ul>
						<li><a href="#priemushestva">Преимущества</a></li>
						<li><a href="#duplex">Дуплексы</a></li>
						<li><a href="#kotedj">Коттеджи</a></li>
						<li><a href="#project">наши проекты</a></li>
						<li><a href="#contact">Контакты</a></li>
					</ul>
				</nav>
				<a href="http://pakhra.com/" class="logo"></a>
				<nav id="cssmenu" class="hidden-md">
						<div id="head-mobile"></div>
						<div class="tel-head">
							<a href="tel:+79637887878">+7 (963) 788-78-78</a>
						</div>

						<div class="button"></div>
						<ul>
							<li><a href="#priemushestva">ПРеимущества</a></li>
							<li><a href="#duplex">Дуплексы</a></li>
							<li><a href="#kotedj">Коттеджи</a></li>
							<li><a href="#project">наши проекты</a></li>
							<li><a href="#contact">Контакты</a></li>
						</ul>
					</nav>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="tel-head hidden-xs">
					<a href="tel:+79637887878">+7 (963) 788-78-78</a>
				</div>
			</div>
			<div class="col-md-2 col-sm-6">
				<div class="but-zvon hidden-xs">
					<a href="#" data-toggle2="true">Задать вопрос</a>
				</div>
			</div>
		</div>
	</div>
</header>
<main>
	<section class="head-block">
		<div class="block-form">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-2 col-md-8 col-sm-12">
						<form class="cbf" name="callbackwide" action="">
							<div class="row" align="center">
								<div class="col-md-4 col-sm-4" align="center">
									<input class="top-action" style="background-color: #ffffff; color: #555555;" type="text" name="name" placeholder="Ваше имя">
								</div>
								<div class="col-md-4 col-sm-4" align="center">
									<input class="top-action" type="text" style="background-color: #ffffff; color: #555555;" name="phone" placeholder="Ваш телефон">
								</div>
								<div class="col-md-4 col-sm-4" align="center">
									<button class="top-action" type="submit" data-toggle1="true">Заказать обратный звонок</button>
								</div>
							</div>						
						</form>

					</div>
				</div>
			</div>
		</div>
		<div class="block-h">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-1 col-md-10">
						<div class="row">
							<div class="col-md-12">
								<div class="logo"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>Квартал дуплексов в готовом поселке в 12 км от москвы по калужскому шоссе</h1>
								<hr>
								</h1>
								<em>ограниченное предложение</em>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="vdkj" id="priemushestva">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Все для комфортной жизни!</h2>
					<hr>
				</div>
			</div>
			<div class="city-info">
				<div class="row">
					<div class="col-md-4 col-sm-4 hidden-xs">
						<div class="name-city">
							<div>Москва</div>
						</div>
					</div>
					<div class="time"></div>
					<div class="col-md-offset-5 col-md-3 col-sm-offset-5 col-sm-3 hidden-xs">
						<div class="name-city">
							<div>Витязь</div>
						</div>					
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="mkad-km">
						<span>Расстояние от МКАД <span>12 км</span></span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="about-vd">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="img-home-three"></div>
					<div class="text-w-ps-l">
						<span>Зеленые деревья на участке</span>
					</div>
					<div class="text-w-ps-r">
						<span>В окружении леса</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-3">
					<div class="dd-l dd-text">
						<h3>дуплекс</h3>
						<p>
							<em>2х секционный</em>
							<b>ТАУНХАУС +</b>
							<em>собственный участок</em>
						</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="sum-sotki">
						<div class="sotk-quart">
							<span>4 сотки</span>
						</div>
						<div class="sotk-quart">
							<span>4 сотки</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3">
					<div class="dd-r dd-text">
						<h3>Экоматериалы</h3>
						<div>
							<img src="img/eco-1.jpg">
							<em>Стена <span>кирпич</span></em>
						</div>
						<div>
							<img src="img/eco-2.jpg">
							<em>Отделка фасада <span>Клинкерная <br>плитка</span></em>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="gor-struktur">
						<h3>близкая городская инфраструктура</h3>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="utp">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3">
					<i class="circle-1"></i>
					<span>7 школ</span>
				</div>
				<div class="col-md-3 col-sm-3">
					<i class="circle-2"></i>
					<span>7 детских садов</span>
				</div>
				<div class="col-md-3 col-sm-3">
					<i class="circle-3"></i>
					<span>5 супермаркетов</span>
				</div>
				<div class="col-md-3 col-sm-3">
					<i class="circle-4"></i>
					<span>3 фитнес-центра</span>
				</div>
			</div>
		</div>
	</section>
	<section class="kom">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3>центральные<br> комуникации</h3>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-3">
					<i class="kom-1"></i>
					<span>Газ</span>
				</div>
				<div class="col-md-3 col-sm-3">
					<i class="kom-2"></i>
					<span>Вода</span>
				</div>
				<div class="col-md-3 col-sm-3">
					<i class="kom-3"></i>
					<span>Канализация</span>
				</div>
				<div class="col-md-3 col-sm-3">
					<i class="kom-4"></i>
					<span>Электроэнергия</span>
				</div>
			</div>
		</div>
	</section>
	<section class="duplexs" id="duplex">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3>Наши дуплексы</h3>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="s-dup">
					<div class="col-md-2 col-sm-3">
						<div class="name-dup">
							<strong>Дуплекс</strong>
							<span>210 м<sup>2</sup></span>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="desc-dup">
							<div>
								<strong>Площадь участка</strong>
								<em>3,0-4,0 соток</em>
							</div>
							<div>
								<strong>Цена</strong>
								<em>11 900 000 руб.</em>
							</div>
						</div>
					</div>
					<div class="col-md-7 col-sm-6">
						<a href="img/dup-210.jpg"  data-lightbox="c210">
							<img src="img/dup-210.jpg" alt="210">
						</a>
						<a href="img/plan-210.jpg"  data-lightbox="c210">
							<img src="img/plan-210.jpg" alt="210">
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="s-dup">
					<div class="col-md-7 col-sm-6">
						<a href="img/dup-185.jpg" data-lightbox="c185">
							<img src="img/dup-185.jpg" alt="185">
						</a>
						<a href="img/plan-185.jpg" data-lightbox="c185">
							<img src="img/plan-185.jpg" alt="185">
						</a>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="desc-dup">
							<div>
								<strong>Площадь участка</strong>
								<em>3,0-4,0 соток</em>
							</div>
							<div>
								<strong>Цена</strong>
								<em>10 900 000 руб.</em>
							</div>
						</div>	
					</div>
					<div class="col-md-2 col-sm-3">
						<div class="name-dup">
							<strong>Дуплекс</strong>
							<span>185 м<sup>2</sup></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="duplexs" id="kotedj">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3>Наши коттеджи</h3>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="s-dup">
					<div class="col-md-2 col-sm-3">
						<div class="name-dup">
							<strong>Коттедж</strong>
							<span>270 м<sup>2</sup></span>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="desc-dup">
							<div>
								<strong>Площадь участка</strong>
								<em>10,74 соток</em>
							</div>
							<div>
								<strong>Цена</strong>
								<em>25 000 000 руб.</em>
							</div>
						</div>	
					</div>
					<div class="col-md-7 col-sm-6">
						<a href="img/kot-270.jpg" data-lightbox="c270">
							<img src="img/kot-270.jpg" alt="270">
						</a>
						<a href="img/plan-270.jpg" data-lightbox="c270">
							<img src="img/plan-270.jpg" alt="270">
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="s-dup">
					<div class="col-md-7 col-sm-6">
						<a href="img/kot-265.jpg" data-lightbox="c265">
							<img src="img/kot-265.jpg" alt="265">
						</a>
						<a href="img/plan-265.jpg" data-lightbox="c265">
							<img src="img/plan-265.jpg" alt="265">
						</a>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="desc-dup">
							<div>
								<strong>Площадь участка</strong>
								<em>9,28 соток</em>
							</div>
							<div>
								<strong>Цена</strong>
								<em>23 000 000 руб.</em>
							</div>
						</div>	
					</div>
					<div class="col-md-2 col-sm-3">
						<div class="name-dup">
							<strong>Коттедж</strong>
							<span>265 м<sup>2</sup></span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="s-dup">
					<div class="col-md-2 col-sm-3">
						<div class="name-dup">
							<strong>Коттедж</strong>
							<span>230 м<sup>2</sup></span>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="desc-dup">
							<div>
								<strong>Площадь участка</strong>
								<em>9,35 соток</em>
							</div>
							<div>
								<strong>Цена</strong>
								<em>20 000 000 руб.</em>
							</div>
						</div>	
					</div>
					<div class="col-md-7 col-sm-6">
						<a href="img/kot-238.jpg" data-lightbox="c238">
							<img src="img/kot-238.jpg" alt="238">
						</a>
						<a href="img/plan-230.jpg" data-lightbox="c238">
							<img src="img/plan-230.jpg" alt="238">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="map" id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="map-holder">
						<h3>Контакты</h3>
						<hr>
							<strong>Коттеджный поселок Витязь</strong>

							<p><b>Адрес:</b> Россия, г. Москва, поселение Десеновское,
							ДНП «Витязь»</p>

							<strong>Центральный офис</strong>

							<p><b>Адрес:</b> 121471, г. Москва, ул. Рябиновая, д. 41, стр. 1</p>
							<p><b>Телефон:</b> +7(963) 788-78-78;  +7 (495) 926-35-57</p>
							<p><b>Часы работы:</b> с 10:00 до 18:00</p>
							<p><b>E-mail:</b> info@pakhra.com</p>
					</div>
				</div>
			</div>
		</div>
		<div class="sm-map" id="map">

		</div>

	</section>
	<section class="portfolio" id="project">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3><span>Коттеджи и таунхаусы от надежного застройщика в Новой Москве</span></h3>
					<div class="arrow-small"></div>
				</div>
			</div>
			<div class="row about-zas">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">
						<a href="http://pakhra.com/">
							<img src="img/logo-zas.png">
							</a>
						</div>
						<div class="col-md-10">
							<p>Генеральный застройщик коттеджного поселка Витязь – строительная компания, успешно работающая на российском рынке с 2005 года. КП Витязь расположен в живописном, удаленном от городской суеты районе в 12 километрах от МКАД по Калужскому шоссе.<br>
							Среди большого количества проектов, успешно реализованных строительной компанией «Пахра», ‒ коттеджные поселки Европейская долина и Европейская долина-2.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="slide-zas">
						<div class="zas-port-1">
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<a href="img/ed-1-1.jpg" data-lightbox="ed1"><img src="img/ed-1-1.jpg"></a>
								</div>
								<div class="col-md-4 col-sm-4">
									<a href="img/ed-1-2.jpg" data-lightbox="ed1"><img src="img/ed-1-2.jpg"></a>
								</div>
								<div class="col-md-4 col-sm-4">
									<a href="img/ed-1-3.jpg" data-lightbox="ed1"><img src="img/ed-1-3.jpg"></a>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<a href="img/ed-1-4.jpg" data-lightbox="ed1"><img src="img/ed-1-4.jpg"></a>
								</div>
								<div class="col-md-4 col-sm-4">
									<a href="img/ed-1-5.jpg" data-lightbox="ed1"><img src="img/ed-1-5.jpg"></a>
								</div>
								<div class="col-md-4 col-sm-4">
									<a href="img/ed-1-6.jpg" data-lightbox="ed1"><img src="img/ed-1-6.jpg"></a>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
									<a href="img/ed-1-7.jpg" data-lightbox="ed1"><img src="img/ed-1-7.jpg"></a>
								</div>
							</div>
						</div>
						<div class="zas-port-2">
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<a href="img/ed-2-1.jpg" data-lightbox="ed2"><img src="img/ed-2-1.jpg"></a>
								</div>
								<div class="col-md-4 col-sm-4">
									<a href="img/ed-2-2.jpg" data-lightbox="ed2"><img src="img/ed-2-2.jpg"></a>
								</div>
								<div class="col-md-4 col-sm-4">
									<a href="img/ed-2-3.jpg" data-lightbox="ed2"><img src="img/ed-2-3.jpg"></a>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<a href="img/ed-2-4.jpg" data-lightbox="ed2"><img src="img/ed-2-4.jpg"></a>
								</div>
								<div class="col-md-4 col-sm-4">
									<a href="img/ed-2-5.jpg" data-lightbox="ed2"><img src="img/ed-2-5.jpg"></a>
								</div>
								<div class="col-md-4 col-sm-4">
									<a href="img/ed-2-6.jpg" data-lightbox="ed2"><img src="img/ed-2-6.jpg"></a>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<a href="img/ed-2-7.jpg" data-lightbox="ed2"><img src="img/ed-2-7.jpg"></a>
								</div>
								<div class="col-md-4 col-sm-4">
									<a href="img/ed-2-8.jpg" data-lightbox="ed2"><img src="img/ed-2-8.jpg"></a>
								</div>
								<div class="col-md-4 col-sm-4">
									<a href="img/ed-2-9.jpg" data-lightbox="ed2"><img src="img/ed-2-9.jpg"></a>
								</div>
							</div>
						</div>
						<div class="zas-port-3">
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<a href="img/ed-3-1.JPG" data-lightbox="ed3"><img src="img/ed-3-1.JPG"></a>
								</div>
								<div class="col-md-4 col-sm-4">
									<a href="img/ed-3-2.jpg" data-lightbox="ed3"><img src="img/ed-3-2.jpg"></a>
								</div>
								<div class="col-md-4 col-sm-4">
									<a href="img/ed-3-3.jpg" data-lightbox="ed3"><img src="img/ed-3-3.jpg"></a>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<a href="img/ed-3-4.jpg" data-lightbox="ed3"><img src="img/ed-3-4.jpg"></a>
								</div>
								<div class="col-md-4 col-sm-4">
									<a href="img/ed-3-5.jpg" data-lightbox="ed3"><img src="img/ed-3-5.jpg"></a>
								</div>
								<div class="col-md-4 col-sm-4">
									<a href="img/ed-3-6.jpg" data-lightbox="ed3"><img src="img/ed-3-6.jpg"></a>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<a href="img/ed-3-7.jpg" data-lightbox="ed3"><img src="img/ed-3-7.jpg"></a>
								</div>
								<div class="col-md-4 col-sm-4">
									<a href="img/ed-3-8.jpg" data-lightbox="ed3"><img src="img/ed-3-8.jpg"></a>
								</div>
								<div class="col-md-4 col-sm-4">
									<a href="img/ed-3-9.jpg" data-lightbox="ed3"><img src="img/ed-3-9.jpg"></a>
								</div>
							</div>
						</div>
						<div class="zas-port-4">
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<a href="img/v-1.jpg" data-lightbox="vit"><img src="img/v-1.jpg"></a>
								</div>
								<div class="col-md-4 col-sm-4">
									<a href="img/v-2.jpg" data-lightbox="vit"><img src="img/v-2.jpg"></a>
								</div>
								<div class="col-md-4 col-sm-4">
									<a href="img/v-3.jpg" data-lightbox="vit"><img src="img/v-3.jpg"></a>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<a href="img/v-4.jpg" data-lightbox="vit"><img src="img/v-4.jpg"></a>
								</div>
								<div class="col-md-4 col-sm-4">
									<a href="img/v-5.jpg" data-lightbox="vit"><img src="img/v-5.jpg"></a>
								</div>
								<div class="col-md-4 col-sm-4">
									<a href="img/v-6.jpg" data-lightbox="vit"><img src="img/v-6.jpg"></a>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
									<a href="img/v-7.jpg" data-lightbox="vit"><img src="img/v-7.jpg"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="port-one port-1">
						<div class="port-logo"></div>
					</div>
					<div class="port-one port-2">
						<div class="port-logo"></div>
					</div>
					<div class="port-one port-3">
						<div class="port-logo"></div>
					</div>
					<div class="port-one port-4">
						<div class="port-logo"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="top-foot">
			<div class="container">
				<div class="row">
					<div class="col-md-2 col-sm-3">
						<a href="#top" class="logo"></a>
					</div>
					<div class="col-md-3 col-sm-3">
						<p>Официальный сайт <br>коттеджного поселка Витязь</p>
					</div>
					<div class="col-md-2 col-md-offset-1 col-sm-2">
						<div class="tel">
							<a href="tel:+79637887878" class="tel">+7 (963) 788-78-78</a>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="but-zvon">
							<a href="#" data-toggle="true">Заказать обратный звонок</a>
						</div>
					</div>
					<div class="col-md-1 col-sm-1">
						<a href="#top" class="top"></a>
					</div>
				</div>	
			</div>
		</div>

<a  target="_blank" href="http://cludio.ru" style="text-decoration: none!important;">
<div align="center" style="padding-top: 15px; padding-bottom: 15px; color: #0198d7; text-decoration: none!important;">
				Создание и продвижение
					<br>
					<img class="footcopyright" style="margin-top: 10px;" src="img/copyright.png" alt="" height="34px">
				</div>
				</a>

	</footer>
</main>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="js/lightbox.js"></script>
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

<script>
	$(document).ready(function() {
		$('.port-one').click(function() {
			// $('.slide-zas > div').removeClass('active');
			if (!$(this).hasClass("active")) {
				$('.slide-zas > div').slideUp();
				$('.port-one').removeClass('active');
				if ($(this).hasClass("port-1")) {
					$(this).addClass('active');
					$('.zas-port-1').slideDown();
				}
				else if ($(this).hasClass("port-2")) {
					$(this).addClass('active');
					$('.zas-port-2').slideDown();
				}
				else if ($(this).hasClass("port-3")) {
					$(this).addClass('active');
					$('.zas-port-3').slideDown();
				}
				else if ($(this).hasClass("port-4")) {
					$(this).addClass('active');
					$('.zas-port-4').slideDown();
				}
			}
			else {
				$('.slide-zas > div').slideUp();
				$('.port-one').removeClass('active');
			}
		});

		$('.portfolio h3').click(function() {
			$('.about-zas').slideToggle();
			$('.arrow-small').toggleClass('active');
		});
// Toggle the visibility of the modal window
function toggleModal() {
    var state = modal.getAttribute('data-state');
    if (state == 'open') {
        modal.setAttribute('data-state', 'closed');
    } else {
        modal.setAttribute('data-state', 'open');
    }
}

// Element Variables
var modal = document.querySelector('.modal');
var modalwindow = document.querySelector('.modal__window');
var toggles = document.querySelectorAll('[data-toggle]');

// Assign event handlers to every element with the 'data-toggle' attribute
for (var i = 0; i < toggles.length; i++) {
  toggles[i].addEventListener('click', function() {
    toggleModal();
  });
}

// Prevent a click on the modal window itself from closing it
modalwindow.addEventListener('click', function() {
  event.stopPropagation();
});


$(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});

	});	
    
(function($) {
$.fn.menumaker = function(options) {  
 var cssmenu = $(this), settings = $.extend({
   format: "dropdown",
   sticky: false
 }, options); return this.each(function() {
   $(this).find(".button").on('click', function(){
     $(this).toggleClass('menu-opened');
     var mainmenu = $(this).next('ul');
     if (mainmenu.hasClass('open')) { 
       mainmenu.slideToggle().removeClass('open');
     }
     else {
       mainmenu.slideToggle().addClass('open');
       if (settings.format === "dropdown") {
         mainmenu.find('ul').show();
       }
     }
   });
   cssmenu.find('li ul').parent().addClass('has-sub');
multiTg = function() {
     cssmenu.find(".has-sub").prepend('<span class="submenu-button"></span>');
     cssmenu.find('.submenu-button').on('click', function() {
       $(this).toggleClass('submenu-opened');
       if ($(this).siblings('ul').hasClass('open')) {
         $(this).siblings('ul').removeClass('open').slideToggle();
       }
       else {
         $(this).siblings('ul').addClass('open').slideToggle();
       }
     });
   };
   if (settings.format === 'multitoggle') multiTg();
   else cssmenu.addClass('dropdown');
   if (settings.sticky === true) cssmenu.css('position', 'fixed');
resizeFix = function() {
  var mediasize = 700;
     if ($( window ).width() > mediasize) {
       cssmenu.find('ul').show();
     }
     if ($(window).width() <= mediasize) {
       cssmenu.find('ul').hide().removeClass('open');
     }
   };
   resizeFix();
   return $(window).on('resize', resizeFix);
 });
  };
})(jQuery);

(function($){
$(document).ready(function(){
$("#cssmenu").menumaker({
   format: "multitoggle"
});
});
})(jQuery);

var modal1 = document.querySelector('.modal1');
var modal2 = document.querySelector('.modal2');
var modalwindow1 = document.querySelector('.modal__window1');
var modalwindow2 = document.querySelector('.modal__window2');
var toggles1 = document.querySelectorAll('[data-toggle1]');
var toggles2 = document.querySelectorAll('[data-toggle2]');

// Prevent a click on the modal window itself from closing it
modalwindow2.addEventListener('click', function() {
  event.stopPropagation();
});

// Toggle the visibility of the modal window
function toggleModal2() {
    var state2 = modal2.getAttribute('data-state2');
    if (state2 == 'open') {
		modal2.setAttribute('data-state2', 'closed');
    } else {
		modal2.setAttribute('data-state2', 'open');
    }
}

// Assign event handlers to every element with the 'data-toggle' attribute
for (var i = 0; i < toggles2.length; i++) {
    toggles2[i].addEventListener('click', function() {
        toggleModal2();
    });
}

function showSuccessWinCB () {
	// Toggle the visibility of the modal window
	function toggleModal1() {
        var state1 = modal1.getAttribute('data-state1');
        if (state1 == 'open') {
            modal1.setAttribute('data-state1', 'closed');
        } else {
            modal1.setAttribute('data-state1', 'open');
        }
	}

	// Element Variables


	// Assign event handlers to every element with the 'data-toggle' attribute
	
	toggleModal1();
	 

	// Prevent a click on the modal window itself from closing it
	modalwindow1.addEventListener('click', function() {
	  event.stopPropagation();
	});

};


$(document).on('submit', 'form[name="questionmod"]', function(e) {
    var title = 'questionmod';
    var name = $('form[name="questionmod"] input[name="name"]').val();
    var email = $('form[name="questionmod"] input[name="email"]').val();
    var question = $('form[name="questionmod"] textarea[name="question"]').val();
    if (name == '') $('form[name="questionmod"] input[name="name"]').val('Поле не заполнено!');
        else $('form[name="questionmod"] input[name="name"]').val(name);
    if (email == '') $('form[name="questionmod"] input[name="email"]').val('Поле не заполнено!');
        else $('form[name="questionmod"] input[name="email"]').val(email);
    if (question == '') $('form[name="questionmod"] textarea[name="question"]').val('Поле не заполнено!');
        else $('form[name="questionmod"] textarea[name="question"]').val(question);
    if (name != '' && email != '' && question != '')
    {
        $.post(
            './mail.php',
            {
                title: title,
                name: name,
                email: email,
                question: question
            },
            function(data) {
                showSuccessWinCB();
				yaCounter40628855.reachGoal('CLICK_TO_CALL');
				ga('send', 'event', 'form', 'callback','send');

            }
        );
    }
    e.preventDefault();
});


$(document).on('submit', 'form[name="callbackmod"]', function(e) {
    var title = 'callbackmod';
    var name = $('form[name="callbackmod"] input[name="name"]').val();
    var phone = $('form[name="callbackmod"] input[name="phone"]').val();
    if (name == '') $('form[name="callbackmod"] input[name="name"]').val('Поле не заполнено!');
    else $('form[name="callbackmod"] input[name="name"]').val(name);
    if (phone == '') $('form[name="callbackmod"] input[name="phone"]').val('Поле не заполнено!');
    else $('form[name="callbackmod"] input[name="phone"]').val(phone);
    if (name != '' && phone != '')
    {
        $.post(
            './mail.php',
            {
                title: title,
                name: name,
                phone: phone
            },
            function(data) {
                showSuccessWinCB();
				yaCounter40628855.reachGoal('CLICK_TO_CALL');
				ga('send', 'event', 'form', 'callback','send');

            }
        );
    }
    e.preventDefault();
});


$(document).on('submit', 'form[name="callbackwide"]', function(e) {
    var title = 'callbackwide';
    var name = $('form[name="callbackwide"] input[name="name"]').val();
    var phone = $('form[name="callbackwide"] input[name="phone"]').val();
    if (name == '') $('form[name="callbackwide"] input[name="name"]').val('Поле не заполнено!');
    else $('form[name="callbackwide"] input[name="name"]').val(name);
    if (phone == '') $('form[name="callbackwide"] input[name="phone"]').val('Поле не заполнено!');
    else $('form[name="callbackwide"] input[name="phone"]').val(phone);
    if (name != '' && phone != '')
    {
        $.post(
            './mail.php',
            {
                title: title,
                name: name,
                phone: phone
            },
            function(data) {
                showSuccessWinCB();
				yaCounter40628855.reachGoal('CLICK_TO_CALL_ME');
				ga('send', 'event', 'form', 'callme','send');

            }
        );
    }
    e.preventDefault();
});


$(document).ready(function(){
	$('.modal__close1').click(function(){
		modal1.setAttribute('data-state1', 'closed');
		$('form[name="callbackwide"] input[type="text"]').val('');
        $('form[name="questionmod"] input[type="text"]').val('');
        $('form[name="questionmod"] textarea').val('');
	});
    //$('.modal__close2').click(function(){
	//	modal2.setAttribute('data-state2', 'closed');
	//});
});

ymaps.ready(function () {

    // Координаты, к которым будем строить маршруты.
    // Укажите здесь, к примеру, координаты вашего офиса.
    var targetCoords = [55.507741, 37.367645],

    // Инициализируем карту.
        myMap = new ymaps.Map('map', {
            center: targetCoords,
            zoom: 11,
            controls: ['smallMapDefaultSet']
        }, {
            // Ограничиваем количество результатов поиска.
            searchControlResults: 1,

            // Отменяем автоцентрирование к найденным адресам.
            searchControlNoCentering: true,

            // Разрешаем кнопкам нужную длину.
            buttonMaxWidth: 150
        }),
		
		ButtonLayout = ymaps.templateLayoutFactory.createClass([
            '<div class="letsgo ',
            '{% if state.size == "small" %}letsgo_small{% endif %}',
            '{% if state.size == "medium" %}letsgo_medium{% endif %}',
            '{% if state.size == "large" %}letsgo_large{% endif %}">',
            '<span class="my-button__text">{{ data.content }}</span>',
            '</div>'
        ].join('')),

    // Метка для конечной точки маршрута.
        targetPoint = new ymaps.Placemark(targetCoords, { preset: 'islands#redIcon' }),

    // Получаем ссылки на нужные элементы управления.
        searchControl = myMap.controls.get('searchControl'),
        geolocationControl = myMap.controls.get('geolocationControl'),
		
    // Создаём выпадающий список для выбора типа маршрута.
        routeTypeSelector = new ymaps.control.Button({
            data: {
                content: "Проложить маршрут"
            },
            options: {
                layout: ButtonLayout,
                maxWidth: [170, 190, 220]
            }
        }),
    // Получаем прямые ссылки на пункты списка.


    // Метка для начальной точки маршрута.
        sourcePoint,

    // Переменные, в которых будут храниться ссылки на текущий маршрут.
        currentRoute,
        currentRoutingMode;

    var myPlacemark = new ymaps.Placemark([55.506587, 37.38039], {
        balloonContent: '<div class="maplogo"></div>'
    }, {
        balloonPanelMaxMapArea: 0
    });
    myMap.geoObjects.add(myPlacemark);

    observeEvents(myMap);

    myPlacemark.balloon.open();
	myMap.behaviors.disable('scrollZoom'),
	myMap.behaviors.disable('drag'),
    // Добавляем конечную точку на карту.
    myMap.geoObjects.add(targetPoint);

    // Добавляем на карту созданный выпадающий список.
    myMap.controls.add(routeTypeSelector, {
        right: 50,
        top: 5
    });

    // Подписываемся на события нажатия на пункты выпадающего списка.
    routeTypeSelector.events.add('click', function (e) { createRoute('auto', e.get('target')); });



    // Подписываемся на события, информирующие о трёх типах выбора начальной точки маршрута:
    // клик по карте, отображение результата поиска или геолокация.
    myMap.events.add('click', onMapClick);
    searchControl.events.add('resultshow', onSearchShow);
    geolocationControl.events.add('locationchange', onGeolocate);

    /*
     * Следующие функции реагируют на нужные события, удаляют с карты предыдущие результаты,
     * переопределяют точку отправления и инициируют перестроение маршрута.
     */

    function onMapClick (e) {
        clearSourcePoint();
        sourcePoint = new ymaps.Placemark(e.get('coords'), { preset: 'islands#redIcon' });
        myMap.geoObjects.add(sourcePoint);
        createRoute();
    }

    function onSearchShow (e) {
        clearSourcePoint(true);
        sourcePoint = searchControl.getResultsArray()[e.get('index')];
        createRoute();
    }

    function onGeolocate (e) {
        clearSourcePoint();
        sourcePoint = e.get('geoObjects').get(0);
        createRoute();
    }

    function clearSourcePoint (keepSearchResult) {
        if (!keepSearchResult) {
            searchControl.hideResult();
        }

        if (sourcePoint) {
            myMap.geoObjects.remove(sourcePoint);
            sourcePoint = null;
        }
    }

    /*
     * Функция, создающая маршрут.
     */
    function createRoute (routingMode ) {
        // Если `routingMode` был передан, значит вызов происходит по клику на пункте выбора типа маршрута,
        // следовательно снимаем выделение с другого пункта, отмечаем текущий пункт и закрываем список.
        // В противном случае — перестраиваем уже имеющийся маршрут или ничего не делаем.

        routeTypeSelector.select();
        // Если начальная точка маршрута еще не выбрана, ничего не делаем.
        if (!sourcePoint) {
            currentRoutingMode = routingMode;
            geolocationControl.events.fire('press');
            return;
        }

        // Стираем предыдущий маршрут.
        clearRoute();

        currentRoutingMode = routingMode;

        // Создаём маршрут нужного типа из начальной в конечную точку.
        currentRoute = new ymaps.multiRouter.MultiRoute({
            referencePoints: [sourcePoint, targetPoint],
            params: { routingMode: routingMode }
        }, {
            boundsAutoApply: true
        });

        // Добавляем маршрут на карту.
        myMap.geoObjects.add(currentRoute);
    }

    function clearRoute () {
        myMap.geoObjects.remove(currentRoute);
        currentRoute = currentRoutingMode = null;
    }
});

function observeEvents (map) {
    var mapEventsGroup;
    map.geoObjects.each(function (geoObject) {
        geoObject.balloon.events
            // При открытии балуна начинаем слушать изменение центра карты.
            .add('open', function (e1) {
                var placemark = e1.get('target');
                // Вызываем функцию в двух случаях:
                mapEventsGroup = map.events.group()
                    // 1) в начале движения (если балун во внешнем контейнере);
                    .add('actiontick', function (e2) {
                        if (placemark.options.get('balloonPane') == 'outerBalloon') {
                            setBalloonPane(map, placemark, e2.get('tick'));
                        }
                    })
                    // 2) в конце движения (если балун во внутреннем контейнере).
                    .add('actiontickcomplete', function (e2) {
                        if (placemark.options.get('balloonPane') != 'outerBalloon') {
                            setBalloonPane(map, placemark, e2.get('tick'));
                        }
                    });
                // Вызываем функцию сразу после открытия.
                setBalloonPane(map, placemark);
            })
            // При закрытии балуна удаляем слушатели.
            .add('close', function () {
                mapEventsGroup.removeAll();
            });
    });
}

function setBalloonPane (map, placemark, mapData) {
    mapData = mapData || {
            globalPixelCenter: map.getGlobalPixelCenter(),
            zoom: map.getZoom()
        };

    var mapSize = map.container.getSize(),
        mapBounds = [
            [mapData.globalPixelCenter[0] - mapSize[0] / 2, mapData.globalPixelCenter[1] - mapSize[1] / 2],
            [mapData.globalPixelCenter[0] + mapSize[0] / 2, mapData.globalPixelCenter[1] + mapSize[1] / 2]
        ],
        balloonPosition = placemark.balloon.getPosition(),
    // Используется при изменении зума.
        zoomFactor = Math.pow(2, mapData.zoom - map.getZoom()),
    // Определяем, попадает ли точка привязки балуна в видимую область карты.
        pointInBounds = ymaps.util.pixelBounds.containsPoint(mapBounds, [
            balloonPosition[0] * zoomFactor,
            balloonPosition[1] * zoomFactor
        ]),
        isInOutersPane = placemark.options.get('balloonPane') == 'outerBalloon';

    // Если точка привязки не попадает в видимую область карты, переносим балун во внутренний контейнер
    if (!pointInBounds && isInOutersPane) {
        placemark.options.set({
            balloonPane: 'balloon',
            balloonShadowPane: 'shadows'
        });
        // и наоборот.
    } else if (pointInBounds && !isInOutersPane) {
        placemark.options.set({
            balloonPane: 'outerBalloon',
            balloonShadowPane: 'outerBalloon'
        });
    }
}

	</script>
	
</body>
</html>
